  <div class = "panel panel-default">
    <div class = "panel-heading">
      <h1>Pins</h1>
    </div>
    <div class ="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Image</th>
        <th>User Email</th>
        <th>Functions</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @pins.each do |pin| %>
        <tr>
          
          <td><strong><%= pin.description %></strong></td>
          <td><%= image_tag pin.image.url(:medium) %></td>
          <td><strong><%= pin.user.email if pin.user%></strong></td>
          <td class="col-md-2"><%= link_to 'View', pin, class: "btn btn-default" %></td>
          <td class="col-md-2"><% if pin.user == current_user %><%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-warning" %><%else%>Not Mine<% end %></td>
          <td class="col-md-2"><%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  </div>
  <div class = "panel-footer">
    <% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path, class: "btn btn-success btn-lg" %>
<% end %>
  </div>
  </div>
